# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=your_user_name
DB_PASSWORD=your_password
DB_DATABASE=anapi

# JSON Web Token
# If you do not have one,
# you can generate one here:
# md5hashgenerator.com
JWT_SECRET=paste_your_md5hash_here

# This apps' URL
APP_API_URL=http://localhost:3333

# Front-end
APP_EXTERNAL_URL=http://localhost:3000
